.env
.env.*
!.env.example
age.agekey
dist
tmp
/out-tsc
node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.nx/cache
nx-cloud.env
.svelte-kit
*/vite.config.ts.timestamp-*.mjs
private-notes.txt
